@import-normalize; /* bring in normalize.css styles */
*{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(240, 239, 239);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.placeholder{
  font-size: 30px;
  color: red
}

.appContainer{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;

}

.navLink {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-right: 20px;
}

.active {
  color: rgb(224, 55, 55)
}