.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
padding-top: 10px;
    color: antiquewhite
}

.welcome{
    font-size: 18px;
}

.name{
    margin-right: 10px;
    font-size: 22px;
    font-weight: 700;
}